* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.cabeçalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 80px;
}

.menu-completo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-navegação {
  display: flex;
  gap: 25px;
}

.menu-navegação a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  transition: color 0.3s;
}

.menu-navegação a:hover {
  color: #00a89b;
}

.botão-entrar {
  margin-left: auto;
}

.botão-entrar a {
    text-decoration: none;
    color: white;
}

.botão-entrar {
  background-color: #00a89b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
}

.botão-entrar:hover {
  background-color: #017f74;
}

#pag-apresentação {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 40px;
}

.texto-inicial {
  max-width: 800px;
  justify-content: center;
}

.texto-inicial h1 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 5px;
  padding: 5px;
}

.texto-inicial h1::after {
    content: '';
    display: block;
    width: 40rem;
    height: 0.3rem;
    background-color: #00a89b;
    margin: 10px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}

.texto-inicial p {
  font-size: 30px;
  line-height: 1.5;
  color: #555;
  text-align: center;
  margin: 10px;
}

.imagem img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.elementos-dog {
  display: flex; 
}
.elementos-dog img {
  display: inline-block;
  width: 100px; 
  height: 100px; 
}

.nossa-ong img{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 30px;
  display: flex;
  justify-content: left;
  height: 700px;
  
}

.nossa-ong {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.texto-secundario h2{
  color: #017f74;
  display: flex;
  margin: 10px;
  font-size: 40px;
}

.texto-secundario p{
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}